<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" type="image/jpg" href="../img/icon.jpg">
    <title>{{ name }} - Computer Architecture Resources</title>
    <meta name="author" content="{{ name }}">
    <meta name="description" content="{{ name }}'s Computer Architecture Resources.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="{{ google_site_verification }}" />
    <link rel="stylesheet" type="text/css" href="../img/stylesheet.css">
</head>

<body data-new-gr-c-s-check-loaded="14.1097.0" data-gr-ext-installed="">
    <!-- Main Container -->
    <div class="main-container">
        <!-- Profile Section -->
        <div class="profile-section">
            <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;">
                <tbody>
                    <tr style="padding:0px">
                        <td style="padding:2.5%;width:70%;vertical-align:middle">
                            <p style="text-align:center">
                                <a href="../index.html"><name><b>{{ name }}</b></name></a>
                            </p>
                            <p style="text-align:center">
                                {{ intro | safe }}
                            </p>
                        </td>
                        <td style="padding:1.5%;width:30%;max-width:30%">
                            <a href="../{{ profile_image }}"><img style="width:100%;max-width:100%" alt="profile photo" src="../{{ profile_image }}" class="hoverZoomLink"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Navigation -->
        <div class="navigation">
            <div class="nav-container">
                <a href="../index.html" class="nav-link" data-section="home">Home</a>
                <a href="../cv.html" class="nav-link" data-section="cv">CV</a>
                <a href="../blog.html" class="nav-link active" data-section="blog">Blog</a>
                <a href="mailto:saigov14@gmail.com" target="_blank">Contact</a>
                <a href="https://github.com/govardhnn" target="_blank">GitHub</a>
                <a href="https://www.goodreads.com/user/show/45335591-govardhan" target="_blank">Goodreads</a>
            </div>
        </div>

        <!-- Content -->
        <div id="content">
            <div class="section">
                <heading>Computer Architecture Resources</heading>
                
                <div class="">
                    <p><i>Published: 20th June, 2025</i></p>
                    <p>A curated collection of books, courses, lectures and forums to study computer architecture.</p>
                </div>

                <div class="section">
                    <h2>Blogs</h2>
                    <div class="">
                        <ul>
                            <li><a href="https://chipsandcheese.com/" target="_blank">Chips and Cheese</a></li>
                            <li><a href="https://www.sigarch.org/blog/" target="_blank">ACM SigArch: Computer Architecture Today</a></li>
                            <li><a href="https://www.computer.org/csdl/journal/ca" target="_blank">IEEE CS: Computer Architecture Letters</a></li>
                            <li><a href="https://www.hpcwire.com/" target="_blank">HPC Wire</a></li>
                            <li><a href="https://en.wikichip.org/wiki/WikiChip" target="_blank">WikiChip</a></li>
                            <li><a href="https://coffeebeforearch.github.io/" target="_blank">Coffee Before Arch</a></li>
                            <li><a href="https://insidehpc.com/" target="_blank">Inside HPC</a></li>
                            <li><a href="https://www.realworldtech.com/" target="_blank">Real World Tech</a></li>
                            <li><a href="https://www.nextplatform.com/" target="_blank">Next Platform</a></li>
                            <li><a href="https://arxiv.org/list/cs.AR/recent" target="_blank">arXiv: Hardware Architecture</a></li>
                            <li><a href="https://arxiv.org/list/cs.DC/recent" target="_blank">arXiv: Distributed, Parallel and Cluster Computing</a></li>
                        </ul>
                    </div>
                </div>

                <div class="section">
                    <h2>Podcasts</h2>
                    <div class="">
                        <ul>
                            <li><a href="https://comparchpodcast.podbean.com/" target="_blank">Computer Architecture Podcast</a></li>
                            <li><a href="https://www.hpcwire.com/podcast/" target="_blank">HPC Wire Podcast</a></li>
                        </ul>
                    </div>
                </div>

                <div class="section">
                    <h2>Archives</h2>
                    <div class="">
                        <ul>
                            <li><a href="http://www.bitsavers.org/pdf/" target="_blank">Bitsavers</a></li>
                        </ul>
                    </div>
                </div>

                <div class="" style="text-align: center; margin-top: 30px;">
                    <a href="../blog.html">← Back to Blog</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>