/* Main body styling */
body {
    font-family: geneva, verdana, sans-serif;
    width: 720px;
    margin: auto;
    background-color: #aaa;
    font-size: 11pt;
}

/* Content boxes */
div.maincontent {
    margin: 1em;
    border: 1px solid;
    background-color: #eee;
    padding: 20px 30px;
}

/* Header section */
div#header {
    text-align: center;
}

div#header h1 {
    margin: 0 0 10px 0;
    font-size: 24pt;
    font-weight: normal;
}

div#header .title {
    font-weight: bold;
    margin-bottom: 10px;
}

div#header .interests {
    margin-bottom: 15px;
}

/* Navigation menu */
table#menutable {
    margin: auto;
}

div.menuitem {
    background-color: #eee;
    padding: 0.5em 1em;
    margin: 1em 0.25em 0 0.25em;
    border: 2px solid;
}

td.menu {
    text-align: center;
}

/* Links */
a {
    text-decoration: none;
    font-weight: bold;
    color: #027;
}

a:hover {
    text-decoration: underline;
}

/* Section content */
div#content {
    text-align: justify;
}

/* Section headings */
h2.section-heading {
    font-size: 14pt;
    font-weight: bold;
    margin: 15px 0 10px 0;
    border-bottom: 1px solid #999;
    padding-bottom: 5px;
}

/* Experience and education items */
.item {
    margin-bottom: 15px;
}

.item .item-title {
    font-weight: bold;
}

.item .item-details {
    font-style: italic;
    color: #555;
}

/* Lists */
ul {
    margin: 5px 0;
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

/* Contact table */
table#contacttable {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 10px;
}

td.contact {
    vertical-align: top;
}

/* Badges */
.badges {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin: 10px auto 0 auto;
    max-width: 700px;
}

.badges img {
    width: 140px;
    height: auto;
}

/* Item with logo */
.item-with-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.item-with-logo .item-content {
    flex: 1;
}

.item-with-logo .logo {
    width: 50px;
    height: auto;
    margin-left: 20px;
}
